*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    height: 100vh;
    background:linear-gradient(to bottom, rgb(0, 255, 255), rgb(255, 255, 255));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

h1{
    font-size: 2rem;
    color: rgb(0, 98, 255);
}

#temperature{
    font-size: 4rem;
    color: rgb(0, 106, 255);
}
